#wrapper-aboutMe-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-aboutMe {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    max-width: 1440px;
    margin: 0 auto;
}

.photo-container {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    position: relative;
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
}

article.aboutMe {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 30px;

    color: #fff;
}
.quote_block {
    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 25px;
}
.quote_block h3 {
    margin-left: 15px;
    margin-right: 15px;
}
.quote {
    width: 25px;
}
.wrap_quote.l {
    position: relative;
    top: -10px;
}
.wrap_quote.r {
    position: relative;
    top: 10px;
}
.author {
    margin-left: 15px;
}
#wrap-content {
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
}

.presentation {
    display: flex;
    gap: 30px;
    align-items: center;
    letter-spacing: 1px;
}

.wrap-all-description {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1px;
}

.wrarp-description-item {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.wrarp-description-item.conclusion {
    padding-bottom: unset;
}

.description-item-title {
    font-size: 20px;
    font-weight: bold;
}
.description-item-content {
    padding-left: 30px;
}

.img_about_wrap,
.img_about_wrap.conclusion {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #ffc600;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    box-shadow: 0px 0px 8px rgb(255 255 255);
}
.img_about_wrap,
.img_about_wrap.conclusion {
    transition: width 0.25s, height 0.25s, border 0.25s, box-shadow 0.25s;
}
.img_about_wrap.conclusion {
    border: 5px solid #1f8c43;
    box-shadow: 0px 0px 8px rgb(255 255 255);
}
.about_icon {
    width: 35px;
    height: 35px;
    filter: drop-shadow(0px 0px 8px rgb(255 255 255));
}

/* mobile version */
@media (max-width: 768px) {
    .quote_block,
    .quote_block h3 {
        font-size: 16px;
    }

    .photo-container {
        height: 100px;
        width: 100px;
    }

    .img_about_wrap,
    .img_about_wrap.conclusion {
        width: 40px;
        height: 40px;
        border: none;
        box-shadow: none;
    }
}
