/*generate*/
.wrap-cv {
    height: 100%;
}

article.cv {
    max-width: 1100px;
    margin: 15px auto;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 10px;
    padding: 30px;
    letter-spacing: 1px;
}
/* header */
article.cv header.cv {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #282c34; */
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

header.cv h1 {
    font-size: 40px;
}

header.cv .presentation-group {
    text-align: left;
}
article.cv section.post {
    height: 100px;
    text-align: center;
    /* background: rgba(255, 198, 0, 0.3); */
    border-bottom: 2px solid #ffc600;
    padding: 10px;
}

article.cv section {
    margin-bottom: 15px;
}
.post h1 {
    font-size: 35px;
    font-weight: bold;
}
.post .slogan {
    font-size: 18px;
}

.wrap-content-cv {
    display: flex;
    justify-content: space-between;
}

article.cv section {
    text-align: left;
}
article.cv h4 {
    font-size: 20px;
    margin-bottom: 10px;
    width: fit-content;
    background: #ffc600;
    border-left: 10px solid #9f9fa0;
    color: black;
}
.left-side-cv,
.right-side-cv {
    width: 45%;
}
.wrap-list-languages li span {
    margin-right: 5px;
}

/*rating notation*/
ul.foreign-languages {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    line-height: 25px;
}
div.foreign-language {
    width: 50%;
}
.item-language {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rank-language-wrap {
    display: flex;
    gap: 5px;
}

.first-institution-wrap {
    margin-bottom: 10px;
}
.year-education {
    color: #9f9fa0;
    margin-right: 5px;
}

.title-education {
    font-weight: bold;
}

.title-experience,
.employer-experience {
    font-weight: bold;
}
.title-experience span:first-child,
.title-experience span:first-child {
    margin-right: 5px;
}

.title-experience span:last-child,
.employer-experience span:last-child {
    color: #9f9fa0;
    margin-left: 3px;
}

.telecharger {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    background: #ffc600;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telecharger a {
    text-decoration: none;
    color: #282c34;
    font-weight: bold;
}

@media (max-width: 768px) {
    article.cv {
        padding: 5px;
    }
    article.cv header.cv {
        height: 150px;
        padding-left: 10px;
        padding-right: 10px;
    }
    article.cv section.post {
        text-align: justify;
        height: unset;
    }
    header.cv h1 {
        font-size: 25px;
    }
    .post h1 {
        font-size: 22px;
    }
    .post .slogan {
        font-size: 13px;
    }

    .wrap-content-cv {
        flex-direction: column;
    }
    .left-side-cv,
    .right-side-cv {
        width: 100%;
    }
}
