.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modalContainer {
    border-radius: 10px;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 25px; */
    position: relative;
}

.modalContainer .title-modal {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}
.modalContainer .title-modal h4 {
    font-size: 25px;
}

.titleCloseBtn {
    position: absolute;
    top: -15px;
    right: -15px;
}
.titleCloseBtn .wrapperBtn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
}
